<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Update Podcast</h1>
	<form method="post" action="/updatePodcast" th:object="${podcast}">
		<input type="hidden" th:field="*{id}" /> 
		Title: <input type="text" th:field="*{title}" /><br> 
		Release Year: <input type="number" th:field="*{releaseyear}" /><br> 
		Star Rating: <input type="number" th:field="*{starRating}" /><br> 
		Link: <input type="text" th:field="*{link}" /><br> 
		Streaming Service: 
		<select th:field="*{streamingServiceId}">
			<option th:each="p : ${streamingServiceList}" th:value="${p.id}" th:text="${p.name}" />
		</select> <br> 
		<input type="submit" value="Update" />
	</form> 
	<a href="/">Back</a>
</body>
</html>